target/
build/
.gradle/
.classpath
.project
.settings/
.idea/
*.iml
*.log
logs/
.DS_Store
Thumbs.db
*.class
*.jar
*.war
out/
*.swp
node_modules/
.env
*.db
*.pid
*.hprof
.eclispe/
docker-data/
/*.tar
*~
